@import '~sass/mixins/standard_font';

.footer{
    @include standard-font();
    padding:4vw 7vw 10vw;

    &__social-media-link{
        text-decoration:none;
    }

    &__edition{
       margin-right:7vw;
       white-space: nowrap;
    }

    &__editions{
        padding:20px 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    &__privacy_policy{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width:80%;
        @media(max-width:1000px){
            flex-direction: column;
        }

        @media(max-width:500px){
            width:100%;
        }
    }

}